<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.js"></script>
    <link href="/css/mutual.css" rel="stylesheet">
    <link href="/css/compte.css" rel="stylesheet">
</head>
<body>
    <%- include('./templates/header.ejs') %>
    <div id="compte_profileDiv">
        <% if(profilePicture == null){ %>
            <img src="/assets/default.webp" id="compte_profilePicture" style="grid-column: 1;grid-row: 1;">
        <% }else{ %>
            <img src="data:image/png;base64, <%- profilePicture %>" id="compte_profilePicture" style="grid-column: 1;grid-row: 1;">
        <% } %>
        <div style="grid-column: 2/4;grid-row: 1/2;" id="compte_PseudoDiv">
            <p id="compte_pseudo"><%= pseudo %></p>
            <% if(rate == undefined){ %>
                <p id="compte_rate">pas encore d'avis</p>
            <% }else{ %>
                <p id="compte_rate"><%= rate %>/5</p>
            <% } %>
        </div>
        <div id="compte_infoDivDiv">
            <div class="compte_infoDiv" style="grid-row: 1;">
                <p class="compte_infoText">Email :</p>
                <p class="compte_infoState"> Privé</p>
            </div>
            <div class="compte_infoDiv" style="grid-row: 2;">
                <p class="compte_infoText">Téléphone :</p>
                <% if(phone_number == undefined){ %>
                    <p class="compte_infoState">Non renseigné</p>
                <% }else{ %>
                    <p class="compte_infoState"><%= phone_number %></p>
                <% } %>
            </div>
        </div>
        <p id="compte_saleNumber" style="grid-column: 9;grid-row: 1;"><%= sell_number %> ventes</p>
        <button style="grid-column: 9;grid-row: 2;" id="compte_sendMessageButton">Envoyer un message</button>
        <% if(ownAccount){ %>
            <%- include('./templates/compte_editButton.ejs') %>
        <% } %>
    </div>
    <script src="/js/compte.js"></script>
</body>
</html>